* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    line-height: 1.6;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

.header {
    background-image: linear-gradient(to right bottom,
        rgba(1, 1, 29, 0.8), 
        rgba(10, 1, 27, 0.8)), 
        url("img/bck7.jpg");
    background-size: cover;
    opacity: .9;
    height: 100vh;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
}

.nav-logo {
    margin-right: auto;
}

.nav-logo li {
    font-size: 3.5rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.nav-item {
    display: flex;

}

.nav-item li {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
    .nav-item li {
        font-size: 1rem;
    }
}

.nav-item li a:link,
.nav-item li a:visited {
    color: #fff;
    padding: .8rem;
    transition: all .3s ease-out;
}

.nav-item li a:active,
.nav-item li a:hover {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    border-radius: 5px;
}

.text-wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media only screen and (max-width: 37.5em) {
    .text-wrapper {
        width: 80%;
        margin-top: 10rem;
    }
}

.text-hello {
    padding: 1rem;
    background-color: rgba(9, 24, 112, 0.986);
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    width: 10rem;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 2rem;
    color: #fff;
}

.text-nametag {
    font-size: 5rem;
    line-height: 1.2;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 37.5em) {
    .text-nametag {
        font-size: 3rem;
    }
}

.text-heading {
    font-size: 3rem;
    color: #30CFD0;
}

@media only screen and (max-width: 37.5em) {
    .text-heading {
        font-size: 1.9rem;
    }
}

.text-para {
    font-size: 1.8rem;
    text-transform: capitalize;
    color: #fff;
}

.cta {
    margin-top: 4rem;
}

.cta a:link,
.cta a:visited {
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.cta a:first-of-type {
    background-color: orangered;
    color: #fff;
}

.cta a:last-of-type {
    background-color: #fff;
    color: #30CFD0;
}

.cta a:not(:last-child) {
    margin-right: 2rem;
}

.cta a:active,
.cta a:hover {
    transform: scale(1.3);
}
